<?xml version="1.0"?>
<configuration>
	<!-- App Settings -->
	<appSettings>
		<add key="owin:AutomaticAppStartup" value="false" />
	</appSettings>

	<!-- Compilation and Runtime Configuration -->
	<system.web>
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
		</compilation>

		<authorization>
			<allow users="*" />
		</authorization>

		<pages controlRenderingCompatibilityVersion="4.0" />
		<customErrors mode="Off" defaultRedirect="403.html" />
		<sessionState timeout="10" />
		<httpRuntime targetFramework="4.8" maxRequestLength="102400" executionTimeout="300" />
	</system.web>

	<!-- JSON & Script Settings -->
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483647" />
			</webServices>
		</scripting>
	</system.web.extensions>

	<!-- Database Connection -->
	<connectionStrings>
		<add name="DBConString" connectionString="VXGSXBQyH2QHEDytuGa/QbKX7mPakzVB7lrOFgS5Vd6IVdYPs1npmQb8hVz2kwS8zEbCBszLb76HWptN6iF2EwhA/afZmq6T" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- IIS Configuration -->
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="login.aspx" />
			</files>
		</defaultDocument>

		<directoryBrowse enabled="false" />

		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>

		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="104857600" />
				<!-- 100MB -->
			</requestFiltering>
		</security>

		<rewrite>
			<rules>
				<rule name="RedirectTo404ForWebService" stopProcessing="true">
					<match url=".*(WebHRCorner|WebTraining|WebEmployee|WebApi|WebPayRoll)\.asmx$" ignoreCase="true" />
					<action type="Redirect" url="/404.html" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>

	<!-- Assembly Binding Redirects -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.1.0.0" newVersion="6.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>